.littlebox {
  background-color: rgb(193, 193, 209);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(1, 1, 90);
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

@media screen and (max-width: 768px) {

  #inputgroup {
    width: 100%;
  }
  .container {
    width: 700px;
  }

}


@media screen and (max-width: 640px) {

  #inputgroup {
    width: 100%;
  }
  .container {
    width: 550px;
  }

}

@media screen and (max-width: 375px) {

  #inputgroup {
    width: 100%;
  }

  section {
    width: 360px;
  }

h1 {
  font-size: 70px;
}
  body {
    width: 280px;

  }
}